.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #333;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

/* --- About Me Section Styles --- */

#about.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about p {
  max-width: 600px;
  line-height: 1.6;
  color: #e0e0e0;
}

/* --- Skills Section Styles --- */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 2.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1005px) {
  .skills-grid {
    max-width: 700px;
  }
}

@media (max-width: 706px) {
  .skills-grid {
    max-width: 500px;
  }
}

.skill-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-logo {
  height: 60px;
  transition: transform 0.3s ease;
  filter: invert(0.9);
}

.skill-name {
  position: absolute;
  bottom: -30px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.skill-item:hover .skill-name {
  opacity: 1;
  visibility: visible;
}

.skill-item:hover .skill-logo {
  transform: scale(1.15);
}


/* --- Project Styles --- */

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 1.5rem;
  justify-content: center;
}

.project-card-link {
  flex: 0 1 300px;
  text-decoration: none;
  color: inherit;
  display: flex;
}

.project-card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-card-link:hover .project-card {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  margin-top: 0;
  color: #4dabf7;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

.project-title-icon {
  height: 20px;
  width: 20px;
  filter: invert(0.6);
  transition: filter 0.3s ease;
}

.project-card-link:hover .project-title-icon {
  filter: invert(0.9);
}

.project-card p {
  color: #e0e0e0;
  font-size: 0.95rem;
  line-height: 1.5;
  flex-grow: 1;
  margin: 0;
}


.project-image-container {
  width: 100%;
  height: 170px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}

.project-content {
  padding: 1.5rem;
  padding-top: 1rem;
}

.no-image-padding {
  padding-top: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}